<% @reviews.each do |review| %>
	<div class="single-box col-lg-3 col-md-3 col-sm-5">
			<div class="inner-cell com-name">
				<%= review.company.title %>
			</div>
			<div class="inner-cell rev-title">
				<%= review.title %>
			</div>
			<div class="inner-cell rev-cont">
				<%= truncate(review.content, length: 90)  %>
			</div>
			<div class="inner-cell read-more">
				<%= link_to "read more", review_path(review), :class => "pull-right"  %>
			</div>
	</div>	
<% end %>
